# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.env.*
.venv/
venv/
ENV/

# Local environment variables
*.env

# Editors and IDEs
.idea/
.vscode/

